
.stPre          { color: var(--colPre); }
.stPst, .stOff  { color:  hsla(221, 77%, 71%, 0.6) !important; }

.dnHue { color : hsl(300, 10%, 50%); }
.upHue { color:  hsl(120, 10%, 50%); }

.qNote, .qNote:hover{
    font-size:smaller; 
    font-weight:bold;
    margin-left:5px;https://webhooks.hostinger.com/deploy/843b8d97ccfe30762bca49dc6161df5a
}

.clsRt { 
    text-align: right !important;
    font-size: 15px !important;
 } 

.padtop {
    padding-top: 4px !important;
    font-size: smaller;
}